[% INCLUDE 'doc-head-open.inc' %]
 <title>Notice Test Report</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'intranetstylesheet.inc' %]
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]
[%# INCLUDE 'reports-toolbar.inc' %]
<div class="row">
    <div class="col-md-2 order-sm-2 order-md-1">
        [% INCLUDE 'reports-menu.inc' %]
    </div>
    <div class="col-md-10 order-md-2 order-sm-1">
        <div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo; Notice Test Report</div>
        <div class="result">
            [% FOREACH code_res IN code_results %]
                [% IF code_res.error %]
                    <div class="alert alert-danger">
                        [% code_res.error %]
                    </div>
                [% END %]
                [% IF code_res.ok %]
                    <h1>Letter code (msg type): [% code_res.ok.letter_code %]</h1>
                    [% FOREACH lang_res IN code_res.ok.result %]
                        <h2>Language: [% lang_res.lang %]</h2>
                        [% FOREACH transport_res IN lang_res.result %]
                            <h3>Transport type: [% transport_res.transport %]</h3>
                            [% IF transport_res.error %]
                                <div class="alert alert-danger">
                                    [% transport_res.error %]
                                </div>
                            [% END %]
                            [% IF transport_res.result.warning %]
                                <div class="alert alert-warning">
                                    <p>WARNING: [% transport_res.result.warning %]</p>
                                </div>
                            [% END %]
                            [% IF transport_res.result.ok %]
                                <pre class="resulting-letter">
                                    [% transport_res.result.ok.content | html %] 
                                </pre>
                            [% END %]
                        [% END %]
                    [% END%]
                [% END %]
            [% END %]
        </div>
    </div>
</body>
[% INCLUDE 'intranet-bottom.inc' %]